.container {
	display: grid;
	max-width: 1200px;
	position: relative;
	margin: auto;
	grid-gap: 10px;
	grid-template-areas: "header header header header"
						 "main main main nav"
						 "footer footer footer footer";
	grid-template-columns: 300px 300px 300px 300px;
	grid-template-rows: 100px 600px 70px;
}

h1, h2 {
	font-family: Arial;
	font-size: 18px;
	text-align: center;
}

header {
	background-color: dodgerblue;
	grid-area: header;
}

.main {
	background-color: beige;
	grid-area: main;
}

nav {
	background-color: orange;
}

footer {
	background-color: dodgerblue;
	grid-area: footer;
}